<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>fbird.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>fbird.controller.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>fbird.controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>fbird.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTypeOfBirdController</servlet-name>
        <servlet-class>fbird.controller.DeleteTypeOfBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTypeOfBirdController</servlet-name>
        <servlet-class>fbird.controller.SearchTypeOfBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTypeOfBirdController</servlet-name>
        <servlet-class>fbird.controller.CreateTypeOfBirdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedShopController</servlet-name>
        <servlet-class>fbird.controller.ViewReportedShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportedProductController</servlet-name>
        <servlet-class>fbird.controller.ViewReportedProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportProductController</servlet-name>
        <servlet-class>fbird.controller.ReportProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportShopController</servlet-name>
        <servlet-class>fbird.controller.ReportShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>fbird.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>fbird.controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>fbird.controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerAccountController</servlet-name>
        <servlet-class>fbird.controller.ViewCustomerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopAccountController</servlet-name>
        <servlet-class>fbird.controller.ViewShopAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>fbird.controller.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateShopController</servlet-name>
        <servlet-class>fbird.controller.CreateShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableReportedShopController</servlet-name>
        <servlet-class>fbird.controller.DisableReportedShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReportedShopController</servlet-name>
        <servlet-class>fbird.controller.DeleteReportedShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductHomePageController</servlet-name>
        <servlet-class>fbird.controller.ViewProductHomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailController</servlet-name>
        <servlet-class>fbird.controller.ViewProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPriceController</servlet-name>
        <servlet-class>fbird.controller.ViewPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserProfileController</servlet-name>
        <servlet-class>fbird.controller.AddUserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>fbird.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeController</servlet-name>
        <servlet-class>fbird.controller.ViewRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeDetailController</servlet-name>
        <servlet-class>fbird.controller.ViewRecipeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>fbird.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>fbird.controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemController</servlet-name>
        <servlet-class>fbird.controller.DeleteCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductPageController</servlet-name>
        <servlet-class>fbird.controller.ViewProductPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopProductController</servlet-name>
        <servlet-class>fbird.controller.ViewShopProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>fbird.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFoodPageController</servlet-name>
        <servlet-class>fbird.controller.ViewFoodPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMedicinePageController</servlet-name>
        <servlet-class>fbird.controller.ViewMedicinePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerProfileController</servlet-name>
        <servlet-class>fbird.controller.ViewCustomerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAddressController</servlet-name>
        <servlet-class>fbird.controller.ViewAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCreateProductController</servlet-name>
        <servlet-class>fbird.controller.ViewCreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPayPalTransactionController</servlet-name>
        <servlet-class>fbird.controller.OrderPayPalTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserAddressController</servlet-name>
        <servlet-class>fbird.controller.AddUserAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>fbird.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeToCartController</servlet-name>
        <servlet-class>fbird.controller.AddRecipeToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailInShopDashboardController</servlet-name>
        <servlet-class>fbird.controller.ViewProductDetailInShopDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerOrderController</servlet-name>
        <servlet-class>fbird.controller.ViewCustomerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>fbird.controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>fbird.controller.UploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopDashboardController</servlet-name>
        <servlet-class>fbird.controller.ViewShopDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeOnShopController</servlet-name>
        <servlet-class>fbird.controller.ViewRecipeOnShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeController</servlet-name>
        <servlet-class>fbird.controller.AddRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRecipeController</servlet-name>
        <servlet-class>fbird.controller.CreateRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopOrderController</servlet-name>
        <servlet-class>fbird.controller.ViewShopOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerOrderDetailController</servlet-name>
        <servlet-class>fbird.controller.ViewCustomerOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecipeShopController</servlet-name>
        <servlet-class>fbird.controller.ViewRecipeShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRecipeController</servlet-name>
        <servlet-class>fbird.controller.UpdateRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUpdateRecipeController</servlet-name>
        <servlet-class>fbird.controller.ViewUpdateRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopOrderDetailController</servlet-name>
        <servlet-class>fbird.controller.ViewShopOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecipeController</servlet-name>
        <servlet-class>fbird.controller.DeleteRecipeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/ViewFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/FeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTypeOfBirdController</servlet-name>
        <url-pattern>/DeleteTypeOfBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTypeOfBirdController</servlet-name>
        <url-pattern>/SearchTypeOfBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTypeOfBirdController</servlet-name>
        <url-pattern>/CreateTypeOfBirdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedShopController</servlet-name>
        <url-pattern>/ViewReportedShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportedProductController</servlet-name>
        <url-pattern>/ViewReportedProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportProductController</servlet-name>
        <url-pattern>/ReportProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportShopController</servlet-name>
        <url-pattern>/ReportShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/ViewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerAccountController</servlet-name>
        <url-pattern>/ViewCustomerAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopAccountController</servlet-name>
        <url-pattern>/ViewShopAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShopController</servlet-name>
        <url-pattern>/CreateShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableReportedShopController</servlet-name>
        <url-pattern>/DisableReportedShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductHomePageController</servlet-name>
        <url-pattern>/ViewProductHomePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailController</servlet-name>
        <url-pattern>/ViewProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPriceController</servlet-name>
        <url-pattern>/ViewPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserProfileController</servlet-name>
        <url-pattern>/AddUserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReportedShopController</servlet-name>
        <url-pattern>/DeleteReportedShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeController</servlet-name>
        <url-pattern>/ViewRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeDetailController</servlet-name>
        <url-pattern>/ViewRecipeDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>DeleteCartItemController</servlet-name>
        <url-pattern>/DeleteCartItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductPageController</servlet-name>
        <url-pattern>/ViewProductPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopProductController</servlet-name>
        <url-pattern>/ViewShopProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFoodPageController</servlet-name>
        <url-pattern>/ViewFoodPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMedicinePageController</servlet-name>
        <url-pattern>/ViewMedicinePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerProfileController</servlet-name>
        <url-pattern>/ViewCustomerProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAddressController</servlet-name>
        <url-pattern>/ViewAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCreateProductController</servlet-name>
        <url-pattern>/ViewCreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPayPalTransactionController</servlet-name>
        <url-pattern>/OrderPayPalTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserAddressController</servlet-name>
        <url-pattern>/AddUserAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeToCartController</servlet-name>
        <url-pattern>/AddRecipeToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailInShopDashboardController</servlet-name>
        <url-pattern>/ViewProductDetailInShopDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerOrderController</servlet-name>
        <url-pattern>/ViewCustomerOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/UploadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopDashboardController</servlet-name>
        <url-pattern>/ViewShopDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeOnShopController</servlet-name>
        <url-pattern>/ViewRecipeOnShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeController</servlet-name>
        <url-pattern>/AddRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRecipeController</servlet-name>
        <url-pattern>/CreateRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopOrderController</servlet-name>
        <url-pattern>/ViewShopOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerOrderDetailController</servlet-name>
        <url-pattern>/ViewCustomerOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecipeShopController</servlet-name>
        <url-pattern>/ViewRecipeShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecipeController</servlet-name>
        <url-pattern>/UpdateRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUpdateRecipeController</servlet-name>
        <url-pattern>/ViewUpdateRecipeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopOrderDetailController</servlet-name>
        <url-pattern>/ViewShopOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecipeController</servlet-name>
        <url-pattern>/DeleteRecipeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            86400
        </session-timeout>
    </session-config>
</web-app>
